@import ../../styles/helpers

.wrapper
  position: relative
  border-radius: 10.9091px
  width: 100%
  padding: 16px 0 16px 0
  margin-bottom: 16px

.header
  margin-bottom: 16px
  display: flex
  align-items: center
  span
    font-weight: 400
    font-size: 16px
    line-height: 26px
  a
    display: flex
    margin-left: auto
    margin-right: 15px
  small
    margin-top: -2px
    margin-left: 5px
    font-weight: 300
    font-size: 35px

.loading
  margin: 50px auto

.title
  font-weight: 400
  font-size: 16px
  line-height: 26px
  margin-bottom: 5px
  .subtitle
    font-weight: 600

.item
  display: flex
  padding: 16px 0
  border-top: 2px solid #28293D

.icon
  margin-right: 10px

.price
  margin-left: auto
  font-weight: 600
  font-size: 16px
  line-height: 26px
  text-align: right
  .date
    font-weight: 400
    font-size: 16px
    line-height: 26px
    margin-left: 5px