@import ../../styles/helpers

.label
    margin: 4px 0px
    padding: 10px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px

.Input
    width: 100%
    background: #E5FFFF
    border: 1px solid rgba(0, 0, 0, 0.25)
    border-radius: 6px
    padding: 14px 12px
    margin-bottom: 24px
    color: #28293D
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
