@import ../../styles/helpers

.wrapper
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  min-width: 335px
  background: #1D1D29
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
  border-radius: 8px
  padding: 16px

.title
  width: 100%
  text-align: left
  font-weight: 600
  font-size: 16px
  line-height: 26px

.chart
  height: 182px
  margin-bottom: 16px

.loading
  position: absolute
  background: rgba(0, 0, 0, 0.5)
  backdrop-filter: blur(20px)
  border-radius: 8px
  width: 100%
  height: 100%
  bottom: 0
  z-index: 1000
  &>div
    margin: 250px auto 0 auto

.total
  position: absolute
  top: 160px
  font-size: 20px
  line-height: 26px
  b
    font-weight: 700

.divider
  width: 110%
  margin: 16px 0 26px 25px
  border-bottom: 1px solid #28293D

.item
  display: flex
  align-items: center
  background: #1D1D29
  border: 2px solid #28293D
  border-radius: 8px
  height: 55px
  width: 100%
  margin: 0 16px 16px 16px
  padding: 16px
  svg
    margin-right: 10px
  &>div
    font-size: 16px
    line-height: 26px
  &>:last-child
    font-size: 18px
    line-height: 26px
    font-weight: 700
    margin-left: auto
