@import ../../styles/helpers

.modal
  max-width: 400px !important

.content
  height: 400px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 20px
  div
    text-align: center
    font-weight: 600
    font-size: 20px
    line-height: 25px
    color: #FFF
    margin-bottom: 20px

.button
  margin-top: 20px
  margin-bottom: 20px
