@import ../../styles/helpers

.button
    background: #00B7C4
    width: 100%
    height: auto
    min-height: 48px
    margin: 0 auto
    color: #FFFFFF
    font-weight: 600
    font-size: 16px
    border-radius: 6px