@import ../../styles/helpers

.header
    display: none
    width: 100vw
    height: 61px
    background: #4C0099
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.0466202), 0px 2px 4px rgba(0, 0, 0, 0.14)
    align-items: center
    align-content: center
    padding-left: 4rem
    p
        margin: 0
        font-family: 'Proxima Nova'
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 18px
        color: #FFFFFF

    +medium
        display: flex
