@import ../../styles/helpers

.wrapper
  position: relative
  padding: 20px 20px 10px 20px
  background: #1D1D29
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
  border-radius: 8px

.header
  margin-bottom: 16px
  align-items: center
  font-weight: 600
  font-size: 16px
  line-height: 26px
  span
    color: #01B7C3
  small
    margin-top: -2px
    margin-left: 5px
    font-weight: 300
    font-size: 35px

.title
  font-weight: 400
  font-size: 16px
  line-height: 26px
  margin-bottom: 5px
  .subtitle
    font-weight: 600
    .date
      font-weight: 400

.item
  display: flex
  padding: 16px 0
  border-top: 2px solid #28293D
  cursor: pointer
  &:hover
    opacity: 0.8

.icon
  margin-right: 18px
  position: relative
  height: 50px
  width: 50px
  figure, img
    width: 100%
    height: 100%
    border-radius: 5px
    margin-bottom: 0 !important
    img
      object-fit: cover

.price
  margin-left: auto
  font-weight: 600
  font-size: 16px
  line-height: 26px
  text-align: right