@import ../../styles/helpers

.container
    background: #230F50
    display: flex
    align-items: center
    justify-content: center
    min-height: calc(100vh - 150px)
    padding-top: 50px
    &>div
        display: flex
        flex-direction: column
        align-items: center
    +m
        background: url('/images/header_login.png') no-repeat #230F50
        background-size: contain
        align-items: start
        height: 100vh
        padding-top: 52px

.form
    background: #230F50
    max-width: 327px
    border-radius: 8px
    box-sizing: content-box
    border: 2px solid #00B7C4 !important
    padding: 20px 60px
    height: auto
    z-index: 1000
    +m
        border: 0!important
        padding: 0
        box-sizing: unset!important
        max-width: 100%
        width: calc(100vw - 48px)

.cards
    z-index: 1000
    .title
        margin-bottom: 94px

.logo_icon
    display: block
    margin: 10px auto 0
    +m
        display: none

.title
    font-size: 24px
    margin: 25px 0
    font-weight: 600!important
    text-align: center

.google_icon
    margin-right: 6px

.line
    display: block
    margin: 25px auto 15px auto
    width: 100%
    object-fit: contain

.input
    background-color: #E5FFFF !important
    color: #000 !important

.upload
    margin: 0 auto

.preview
    width: 100px
    height: 100px
    background: #28293D
    border: 1px dashed #00B7C4
    border-radius: 9px
    margin: 0 auto
    overflow: hidden
    margin-bottom: 17px

.image
    width: 100px
    height: 100px
    border-radius: 9px
    margin: 0 auto
    overflow: hidden
    margin-bottom: 17px

.bubble
    color: #FFF
    font-size: 16px
    font-weight: 600
    background: transparent!important
    display: flex
    justify-content: right
    margin-left: 50px
    +m
        margin-left: 0
    &:hover
        background: transparent
    span
        display: block
        padding: 13px 10px 0 0
    div
        background: #00B7C4
        border-radius: 25px
        width: 50px
        height: 50px
        padding-top: 12px

.terms
    margin-bottom: 10px

.checkbox
    display: flex
    &>span:first-child
        padding-top: 5px

.edit
    z-index: 1000
    color: #FFF
    font-weight: 600
    font-size: 14px
    line-height: 16px

.link
    color: #00B7C4
    margin: 30px auto 0
    font-size: 16px
    text-decoration: underline
    font-weight: 600
    z-index: 1000

.buttons
    background: #4830B0
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 6px
    margin-top: 40px
    margin-bottom: 20px
    padding: 5px 20px
    width: 320px
    z-index: 1000
    +m
        width: 100%

    button:first-child
        border-bottom: 1px solid #230F4F
    button
        width: 100%
        height: 45px
        display: flex
        align-items: center
        &>*:last-child
            margin-left: auto
        span
            font-size: 16px
            font-weight: 600
            width: 80%
            text-align: left
            margin-left: 1rem

.footer
    position: fixed
    bottom: 0
    background: #230F50
    img
        width: 100%
