@import ../../styles/helpers

.header
  margin-bottom: 16px
  align-items: center
  font-weight: 600
  font-size: 16px
  line-height: 26px
  span
    color: #01B7C3
  small
    margin-top: -2px
    margin-left: 5px
    font-weight: 300
    font-size: 35px

.grid
  display: flex
  flex-wrap: wrap

.item
  max-width: 159px
  min-width: 159px
  height: 222px
  background: #1D1D29
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
  border-radius: 8px
  margin-right: 16px
  position: relative
  cursor: pointer
  &:hover
    opacity: 0.9
  &>*
    display: block
  figure, img
    background: linear-gradient(180deg, #018EFF 0%, #003189 100%)
    max-width: 159px
    max-height: 159px
    min-height: 159px
    border-radius: 10px 10px 0 0
    margin-bottom: 0 !important
    img
      object-fit: cover
  &>div
    padding: 10px 12px
    font-weight: 400
    font-size: 14px
    line-height: 18px
    display: flex
    align-items: center
    height: 60px
    svg
      width: 10px
      margin-top: 20px
      margin-left: auto
  .title
    display: block
    font-weight: 600
    font-size: 14px
    line-height: 16px
    margin-bottom: 4px
  .subtitle
    display: block
    font-weight: 400
    font-size: 14px
    line-height: 16px

