@import ../../styles/helpers

.container
    background-color: #28293E

.left
    background: #1D1D29
    padding: 48px 0 0 37px
    +m
        display: none

.right
    background: #1D1D29
    padding: 48px 37px
    +m
        display: none

.main
    background: #28293D
    padding: 40px
    +m
        padding: 0 14px

.user
    display: flex
    border-bottom: 1px solid #28293D
    padding-bottom: 60px
    +m
        border-bottom: 0
    figure, img
        cursor: pointer
        width: 32px
        height: 32px
        border-radius: 5px
        margin-bottom: 0 !important
        img
            object-fit: cover
    span
        padding-left: 21px
        font-weight: 400
        font-size: 24px
        line-height: 30px

.developer
    width: 80%

.header
    display: none
    height: 70px
    background: #1D1D29
    padding: 20px
    position: sticky
    top: 0
    z-index: 10000
    svg
        margin-left: auto
        margin-top: 5px
    +m
        display: flex
        span
            font-weight: 600
            font-size: 18px
            line-height: 18px
            padding-top: 6px
            padding-left: 11px

.menu
    display: none
    +m
        display: flex
        overflow-x: scroll

.options
    display: none
    background: #1D1D29
    button
        border: 0
    button, button:hover, button:focus
        background-color: transparent
        border-radius: 0
    +m
        display: flex
    .active
        border-bottom: 3px solid #01B7C3

.create
    display: none
    .button
        max-width: 100%
        width: calc(100% - 30px)
        margin-top: 0
        display: flex
        justify-content: flex-start
        img
            margin-top: -5px
        span
            margin-top: -5px
    +m
        display: block

.total
    display: none
    margin-top: 8px
    font-weight: 400
    font-size: 20px
    line-height: 26px
    color: #FFF
    background: #1D1D29
    padding: 16px 24px
    +m
        display: block
    span
        font-weight: 600
        color: #01B7C3

.h1
    margin-top: 31px
    margin-bottom: 30px
    font-style: normal
    font-weight: 400
    font-size: 24px
    line-height: 26px
    color: #FFF
    span
        font-weight: 600
        color: #01B7C3

.title
    font-weight: 400
    font-size: 20px
    line-height: 26px
    margin-top: 13px
    margin-bottom: 13px
    +m
        display: none

.divider
    margin: 30px 0
    border-bottom: 1px solid #28293D

.button
    background: #28293D
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
    border-radius: 8px
    margin: 0 0 16px 0
    align-items: flex-start
    justify-content: center
    max-width: 215px
    display: flex
    min-height: 52px
    padding: 23px 18px 15px 18px
    +m
        display: block
        flex: 0 0 auto
        max-width: 141px
        width: 141px
        background: #1D1D29
        box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
        border-radius: 8px
        margin: 12px 0 12px 12px
        text-align: left
        padding: 19px 18px 0 18px
    &:hover
        background: rgba(40, 41, 61, 0.8)
    span
        text-align: left
        margin-top: -8px
    small
        display: block
        font-weight: 400
        font-size: 16px
        line-height: 26px
        margin-top: -7px
        margin-right: -10px
        +m
            margin-top: 0
            margin-bottom: 8px
    img
        width: 22px
        margin-right: 10px
        +m
            display: block
            margin-bottom: 10px
    &>:last-child
        margin-top: -4px
        margin-left: auto
        +m
            position: absolute
            top: 20px
            right: 16px

.active
    border: 2px solid #01B7C3

.summary
    display: flex
    align-items: center
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
    border-radius: 8px
    margin: 24px 0 42px 0
    +m
        flex-wrap: wrap
    &>div
        display: flex
        flex-grow: 1
        padding: 20px
        border-right: 2px solid #28293D
        font-weight: 400
        font-size: 16px
        line-height: 26px
        +m
            flex-basis: 100%
            padding: 10px 20px
            border-right: 0
        b
            margin-left: auto
            font-size: 18px
            font-weight: 600

    &>div:first-child
        font-weight: 600
        b
            font-weight: 800
    &>div:last-child
        border-right: 0

    .loader
        margin-top: 12px
        margin-right: 10px

.charts
    display: flex
    &>div
        flex-basis: 50%
    &>:first-child
        margin-right: 24px
        +m
            margin-right: 12px
    &>:last-child
        margin-left: auto
    +m
        overflow-x: scroll

.hide
    +m
        display: none

.featured
    +m
        margin-top: 8px