@import ../../styles/helpers

.button

    display: flex
    align-content: center
    align-items: center
    height: 30px
    font-size: 16px
    color: #FFFFFF
    z-index: 10000
    left: 1rem
    cursor: pointer
    position: absolute
    +medium
        font-weight: 600
        top: 1rem
    p
        margin: 0

.text
    padding-left: 8px
