@import ../../styles/helpers

.modal
  max-width: 400px !important

.content
  height: 300px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.status
  color: #FFF
  font-weight: 600
  font-size: 20px
  line-height: 25px
  text-align: center
  margin-top: 20px
  span
    display: block
    font-size: 14px
    font-weight: 400
    margin-top: 10px

.error
  margin-top: 20px
  width: 80px
  height: 80px
  span
    color: #ff4d4f !important

.loader
  width: 100px
  height: 100px
  +dark
    background: $neutrals1

.button
  margin-top: 20px
  margin-bottom: 20px
