// common styles
body
    min-width: 320px
    background: $neutrals8
    font-family: 'Proxima Nova', serif!important
    font-size: 14px
    line-height: (24/14)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: $neutrals2
    +dark-body
        background: $neutrals1
        color: $neutrals8

a
    text-decoration: none

svg,
img
    vertical-align: middle

.desktop
    &-hide
        +d
            display: none !important
    &-show
        display: none !important
        +d
            display: block !important
    &-text-right
        +d
            text-align: right

.tablet
    &-hide
        +t
            display: none !important
    &-show
        display: none !important
        +t
            display: block !important

.mobile
    &-hide
        +m
            display: none !important
    &-show
        display: none !important
        +m
            display: block !important

.notification-container
    position: absolute !important
    top: auto !important
    bottom: 0 !important
    left: 0 !important
    right: auto !important
    width: 92% !important
    left: 1rem !important
    +medium
        bottom: -3rem !important

.notification-success
    background: #00A650 !important
