@import ../styles/helpers

a
  color: #00B7C4
  font-weight: 600
  font-size: 16px
  line-height: 16px

.ant-space-item
  input
    padding: 0 14px
    border-radius: 10px
    height: 38px
    border: 1px solid #353945
    background-color: #181925 !important
    font-size: 16px
    color: #fff
    transition: border-color .2s
    +placeholder
      color: $neutrals4
      font-size: 15px

.ant-form-item,
.ant-form-item-has-error
  label
    color: #FFFFFF

  textarea
    padding-top: 10px!important

  textarea, input
    width: 100%
    height: 48px
    padding: 0 14px
    border-radius: 12px
    border: 1px solid #353945
    background-color: #28293E!important
    +poppins
    +caption-bold-1
    font-size: 16px
    color: #fff
    transition: border-color .2s
    +dark
      border-color: $neutrals3
      color: $neutrals8
    +placeholder
      color: $neutrals4
      font-size: 15px

  .ant-select-arrow
    top: 42% !important
    right: 15px!important

  .ant-select-selector
    height: 48px!important
    padding: 4px 12px!important
    border-radius: 12px!important
    background-color: #28293E!important
    border: 1px solid #353945!important
    color: #FFFFFF

  .ant-select:hover
    .ant-select-selector
      border-color: #40a9ff!important

  .ant-switch
    min-width: 50px!important
    height: 25px!important

  .ant-switch:after
    width: 21px!important
    height: 21px!important

  .ant-switch-checked:after
    left: 27px!important

.auth-form
  .ant-col
    +m
      width: 100%

  .ant-form-item, .ant-form-item-has-error
    margin-bottom: 15px
    textarea, input
      background-color: #E5FFFF !important

  .ant-select-selector
    background-color: #E5FFFF!important
    color: #000!important

  .ant-select-selection-item
    color: #000!important

  .ant-select:hover
    .ant-select-selector
      border-color: #40a9ff!important

  .ant-form-item-label
    padding: 3px

.ant-input-affix-wrapper
  padding: 0 !important

.ant-select-multiple .ant-select-selection-item
  background-color: #505167!important
  border-radius: 6px!important
  border: 1px solid #353945!important

  .ant-select-selection-item-remove
    line-height: 27px!important
    color: #FFF

.ant-select-dropdown
  margin-top: 5px!important
  background-color: #28293E!important
  border-radius: 12px!important
  border: 1px solid #353945!important

.ant-select-item
  background-color: #28293E!important
  color: #FFF
  height: 48px

.ant-select-item-option-active
  background-color: #505167 !important

.ant-select-item-option-selected
  color: #FFF!important

.ant-select-item-option-content
  line-height: 30px
  padding-top: 5px
  padding-bottom: 5px

.ant-btn
  background: #00B7C4
  width: 100%
  height: auto
  min-height: 48px
  margin: 0 auto
  color: #FFFFFF
  font-weight: 600
  font-size: 16px
  border-radius: 6px
  border: 0

  &:hover
    color: #FFFFFF
    background: #00B7C4

  &:focus
    color: #FFFFFF
    background: #00B7C4

.ant-upload.ant-upload-select-picture-card
  width: auto
  height: auto
  background: transparent
  border: 0

.ant-modal-content
  background: #1D1D29
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16)
  border-radius: 8px

.ant-modal-mask
  background: rgba(0, 0, 0, 0.8)

.ant-alert
  background-color: #2a1215
  border: 1px solid #58181c
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16)
  border-radius: 8px
  color: #FFF
  .ant-alert-message
    color: #FFF
    font-weight: 600
  .anticon-close,
  .anticon-close:hover
    color: #FFF

.ant-divider-horizontal
  border-top: 1px solid rgba(255,255,255,.1)

.ant-alert-info
  background-color: #AC5DD9
  border-left: 4px solid #4C0099
  padding: 16px!important
  .ant-alert-message
    font-weight: 400
    font-size: 14px
    line-height: 18px
    display: flex
    svg
      margin-right: 10px

.ant-table-cell
  background-color: #1D1D29!important
  font-size: 14px
  line-height: 18px
  color: #FFF!important

.ant-table-thead > tr > th
  font-weight: 600 !important
  border-bottom: 2px solid #28293D

.ant-table-tbody > tr > td:last-child
  border-bottom: 0

.ant-table-tbody > tr > td
  border-bottom: 2px solid #28293D!important

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,
.ant-pagination-item
  font-size: 12px
  text-align: center
  padding-top: 6px
  background-color: #28293D
  color: #FFF
  border: 0
  border-radius: 2px
  a, a:hover
    padding-top: 3px
    color: #FFF

.ant-pagination-item-active
  background-color: #101019
  color: #FFF


.ant-select-selection-search-input
  min-width: 100px!important


.ant-notification
  z-index: 10000000 !important

.ant-modal-wrap
  z-index: 10000000 !important