@import ../../styles/helpers

.wrapper
    min-height: 100vh
    background-color: #28293D

.logo
    display: flex
    align-items: center
    margin-left: 23px
    margin-right: 26px
    border-bottom: none !important
    +m
        margin-left: 0
        img
            width: 70px

.hidden
    +m
        display: none

.title
    margin-left: 8px
    color: #fff
    font-size: 20px
    font-weight: bold
    height: 100%
    margin-bottom: 0
    align-items: center
    display: none
    +m
        display: flex

.main
    margin-top: 8px
    background: #1D1D29
    padding-top: 30px
    +m
        padding-top: 0

.buttons
    display: flex
    margin-left: auto
    align-items: center
    +m
        svg
            width: 20px!important

.filters
    margin-right: 26px
    cursor: pointer

.search
    display: flex
    position: sticky
    z-index: 1000
    margin-right: 26px
    +m
        padding: 4px 0
    input
        padding-left: 3rem
        margin-right: 1rem
    div
        display: flex
        align-items: center
        position: relative
        svg
            position: absolute
            left: 1rem
        input
            padding-left: 3rem
            width: 280px
            height: 40px
            border-radius: 56px
            border: 1px solid #fff !important
    .button
        svg
            width: 26px
            height: 26px

.header
    padding: 1rem
    background-color: #1D1D29
    display: flex
    border-bottom: none !important
    position: sticky
    top: 60px
    z-index: 1000
    align-items: center
    width: 100vw

    +m
        top: 0

    .tags
        display: flex
        +m
            display: none

.tags
    display: none
    align-items: center
    .tag
        margin-right: 8px
        border-bottom: none !important
    +m
        display: flex
        padding: 0 20px 20px 20px
        overflow-x: scroll
        background-color: #1D1D29

.signup
    display: block
    padding: 8px
    background-color: #AC5DD9
    color: #fff
    border: 1px solid #fff
    border-radius: 5px
    width: 100px
    margin-left: 26px
    margin-right: 26px
    +m
        position: fixed
        right: 1px
        bottom: 36px
        background: #4C0099
        border: 2px solid #AC5DD9
        box-shadow: 0 2px 24px rgba(172, 93, 217, 0.3)
        border-radius: 24px
        font-weight: 600
        font-size: 16px
        line-height: 16px
        padding-top: 16px
        padding-bottom: 16px
        width: 120px

.section
    position: relative
    padding: 1rem
    +m
       border-bottom: 8px solid #28293D
    +medium
        padding-left: 3rem
    h3
        border-bottom: none !important
        color: #FFF
        font-weight: 600
        font-size: 20px
        line-height: 26px
        margin-bottom: 20px
        +m
            font-weight: 400
            font-size: 16px
            line-height: 26px
    .items
        margin-left: -100px
        display: flex
        overflow: hidden
        +m
            overflow-x: auto
    .items>div
        margin-right: 1rem
    .items>div:first-child
        margin-left: 100px
    .loader
        margin: 50px auto

.backward
    cursor: pointer
    position: absolute
    top: 150px
    left: 0
    z-index: 10000
    +m
        display: none

.forward
    cursor: pointer
    position: absolute
    top: 150px
    right: 0
    +m
        display: none
