@import ../../styles/helpers

.wrapper
  max-width: 800px
  margin: 0 auto

.card
  height: 214px
  width: 152px
  background: #00B7C4
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
  border-radius: 8px
  margin: 23px
  +m
    margin: 23px auto

  img
    width: 100%

  & > div
    color: #FFF
    font-weight: 600
    font-size: 20px
    line-height: 25px
    text-align: center
    margin-top: 27px

  &:hover
    opacity: 0.9

.active
  border: 5px solid #FFF
