@import ../../styles/helpers

.modal
  z-index: 1000001!important
  max-width: 400px !important
  &>[class='ant-modal-content']
    background: #230F4F!important
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16)
    border-radius: 8px
  span
    color: #FFF
  +m
    width: 100% !important
    height: 100vh !important
    &>div:nth-child(2)
      height: 100vh !important

.content
  min-height: 673px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  h5
    font-weight: 600
    font-size: 24px
    line-height: 30px
    margin-top: 20px
    margin-bottom: 16px
    color: #FFF

  .edit
    z-index: 1000
    color: #00B7C4
    font-weight: 600
    font-size: 14px
    line-height: 16px
    svg
      margin-left: 5px

.right
  position: absolute
  right: 20px
  top: 45px
  cursor: pointer

.input
  color: #000!important

.button
  margin-top: 20px
  &[disabled]
    background: #575F6E !important
    span
      color: rgb(158, 175, 183) !important

.cancel
  background: transparent !important
  margin-top: 10px
  span
    color: #00B7C4!important
    text-decoration: underline

.divider
  padding-top: 24px
  border-bottom: 1px solid #E5FFFF
  margin-bottom: 24px

.upload
  margin: 0 auto
  &>span>div
    margin-right: 0!important

.preview
  width: 100px
  height: 100px
  background: #28293D
  border: 1px dashed #00B7C4
  border-radius: 9px
  margin: 0 auto 17px auto
  overflow: hidden

.image
  width: 100px
  height: 100px
  border-radius: 9px
  margin: 0 auto 17px auto
  overflow: hidden
  figure, img
    max-width: 100px
    max-height: 100px
    min-height: 100px
    border-radius: 10px 10px 0 0
    margin-bottom: 0 !important
    img
      object-fit: cover

.success
  background: #00A650
  position: absolute
  bottom: -60px
  border: 0
  span
    font-weight: 400!important
    font-size: 14px!important
    line-height: 18px
  svg
    margin-top: -6px

.error
  span
    font-size: 14px!important
  svg
    margin-top: 4px