@import ../../../styles/helpers

.wrapper
    background-color: #28293E

.container
    padding-top: 24px
    max-width: 800px
    margin: 0 auto
    +m
        padding-top: 0

.back_btn_container
    display: block
    position: absolute
    top: 4.5rem
    margin-left: 3rem
    +m
        display: none

.form_item_horizontal
    flex-direction: row!important
    &>div:nth-child(2)
        text-align: center

.main_title
    display: none
    background-color: #00B7C4
    font-weight: 600
    font-size: 24px
    line-height: 25px
    padding: 24px
    +m
        display: block

.title
    padding: 1rem 1rem 1rem 0
    border-bottom: none !important
    background: #28293E
    color: #fff
    font-weight: 300
    font-size: 18px
    +m
        background-color: #1D1D29
        padding: 20px 24px
        margin-top: 6px
        margin-bottom: 6px
        font-weight: 600
        font-size: 16px
        line-height: 26px

.section
    background-color: #1D1D29
    border-radius: 10px
    padding: 2rem 2rem 1rem 2rem
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    +m
        padding: 24px
        border-radius: 0
        box-shadow: none
        [class^='ant-col']
            width: 100% !important


.tooltip
    max-width: 300px !important

.upload
    margin: 0 auto

.details
    color: #FFF
    font-weight: 400
    font-size: 14px
    line-height: 18px
    margin-top: 10px

.preview
    width: 55px
    height: 55px
    background: #28293D
    border: 1px solid #00B7C4
    border-radius: 9px
    margin: 0 auto
    overflow: hidden
    margin-bottom: 17px

.create_nfts_btn_container
    padding: 0 2rem
    background-color: #1D1D29
    padding-top: 3rem
    +medium
        width: 400px
        margin: 0 auto
        padding-bottom: 4rem
        background-color: #28293E