@import ../../styles/helpers

.card
    background: #28293D
    height: 254px
    width: 225px
    border-radius: 10px
    margin-right: 24px
    +m
        width: 149px

    &:hover
        opacity: 0.8

.image
    width: 225px
    height: 150px
    margin: 0
    position: relative
    +m
        width: 149px
    img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        border-radius: 10px 10px 0 0

.mode
    position: absolute
    right: 0
    height: 26px
    border-radius: 0 6px
    padding: 6px 14px
    font-weight: 600
    font-size: 14px
    line-height: 14px
    color: #FFF

.sale
    background: #4C0099

.auction
    background: #1DBDC8

.game
    background: #E92EE9


.like
    position: absolute
    height: 26px
    width: 26px
    bottom: 6px
    right: 6px
    z-index: 500
    background: url('/images/circle.svg')
    background-size: 26px 26px
    padding: 5px

.info
    width: 100%
    height: 100px
    border-radius: 0 0 10px 10px
    cursor: pointer
    padding: 18px
    &>div:first-child
        display: grid
        grid-template-columns: 1fr
    &>div:nth-child(2)
        display: flex
        justify-content: space-between
        width: 100%
        height: auto
        margin: 0

.title
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 16px
    color: #EBEBF0
    margin: 0 0 7px 0
    +m
        font-size: 14px

.subtitle
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 16px
    color: #EBEBF0
    margin: 0 0 17px 0
    +m
        font-size: 14px

.price
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 18px
    color: #EBEBF0
    margin: 0
    +m
        font-size: 16px
        line-height: 16px

.icon
    margin-right: 6px
