@import ../../styles/helpers

.button
    display: none
    +medium
        margin-top: 20px
        margin-bottom: -15px
        margin-left: -150px
        display: flex
        align-content: center
        align-items: center
        gap: 0 4px
        height: 30px
        font-size: 16px
        font-weight: 600
        width: 100%
        color: #FFFFFF
        cursor: pointer
    p
        margin: 0
