@import ../../styles/helpers


.header
    height: 323px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .avatar
        width: 116px
        height: 116px
        margin-bottom: 30px
        figure, img
            width: 100%
            height: 100%
            border-radius: 20px
            img
                object-fit: cover
    .name
        font-weight: 600
        font-size: 30px
        line-height: 30px
        margin-bottom: 12px
    .wallet
        display: flex
        .address
            display: block
            font-weight: 400
            font-size: 20px
            line-height: 30px
            overflow: hidden

.backButton
    display: block
    position: absolute
    top: 4.5rem
    margin-left: 3rem

.filters
    display: flex
    padding: 1rem
    background-color: #1D1D29
    border-bottom: none !important
    position: sticky
    top: 0
    z-index: 1000
    +medium
        justify-content: space-around
        width: 100vw
        background-color: #1D1D29
        align-items: center