@import ../../styles/helpers

.container
    width: 100%

.button
   background: #1D1D29
   width: max-content
   border-radius: 56px
   padding: 7px 12px
   border: 1.2px solid #EBEBF0
   font-family: 'Proxima Nova', serif
   font-weight: 500
   line-height: 16px

.activate
   background: #AC5DD9