@import ../../styles/helpers

.modal
  max-width: 400px !important

.content
  height: 250px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.status
  color: #FFF
  font-weight: 600
  font-size: 20px
  line-height: 25px
  text-align: center
  margin-top: 20px

.success
  .percent
    width: 60px
    height: 60px

.percent
  width: 120px
  height: 120px
  span
    color: #FFF!important

.loader
  width: 100px
  height: 100px
  +dark
    background: $neutrals1

.button
  margin-top: 20px
  margin-bottom: 20px
