@import ../../styles/helpers

.wrapper
  display: flex
  background: #1D1D29
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16)
  border-radius: 8px
  min-height: 250px
  align-items: center
  margin-bottom: 16px
  +m
    border-radius: 0
    margin-left: -20px
    width: calc(100vw + 20px)
    margin-bottom: 6px

.backward
  margin-left: -2px
  +m
    display: none

.forward
  margin-left: auto
  margin-right: -2px
  +m
    display: none

.content
  width: 100%
  padding: 25px 16px
  overflow: auto
  flex-shrink: 1

.title
  margin-bottom: 16px
  display: flex
  align-items: center
  span
    font-weight: 600
    font-size: 16px
    line-height: 26px
  a
    display: flex
    margin-left: auto
    margin-right: 15px
  small
    margin-top: -2px
    margin-left: 5px
    font-weight: 300
    font-size: 35px

.gallery
  display: flex
  overflow-x: auto
  overflow-y: hidden

.card
  min-width: 104px
  max-width: 104px
  height: 165px
  background: #28293D
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
  border-radius: 8px
  margin-right: 16px
  position: relative
  cursor: pointer
  &:hover
    opacity: 0.9
  &>*
    display: block
  figure
    width: 100%
    height: 107px
    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 8px 8px 0 0
      object-position: center
  .number
    display: flex
    position: absolute
    top: 75px
    margin: 0
    width: 29px
    height: 35px
    background: #1D1D29
    font-weight: 600
    font-size: 28px
    line-height: 4px
    border-radius: 0 4px 0 0
    padding: 2px 0 0 0
    justify-content: center
  div
    font-weight: 400
    padding: 10px 12px
    font-size: 14px
    line-height: 18px
    display: flex
    align-items: center
    height: 60px
    svg
      width: 10px
      margin-top: 20px
      margin-left: auto

