@import ../../styles/helpers

.wrapper
  display: flex
  position: relative
  background: #28293D
  border-radius: 6px
  height: 48px
  margin-bottom: 16px
  align-items: center
  padding: 0 17px
  border-left: 4px solid #01B7C4
  svg
    margin: 0 16px 0 0

.value
  font-weight: 600
  font-size: 14px
  line-height: 26px
  b
    font-weight: 700

.percent
  margin-left: auto