@import ../../../styles/helpers

.wrapper
    background-color: #28293E
    padding-bottom: 30px

.backButton
    display: block
    position: absolute
    top: 4.5rem
    margin-left: 3rem
    +m
        top: 10px
        margin-left: 0

.container
    padding-top: 15px
    max-width: 607px
    margin: 0 auto
    display: flex
    +m
        padding-top: 0
        max-width: 100%

.block
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    border-radius: 8px
    margin-top: 12px
    +m
        box-shadow: none
        border-radius: 0
        margin-top: 6px

.error
    margin-bottom: 15px

.success
    margin-bottom: 15px
    background: #00A650
    border: 0

.image
    background: linear-gradient(180deg, #018EFF 0%, #003189 100%)
    border-radius: 10px
    position: relative
    margin-top: 2rem
    height: 170px
    width: 607px
    +m
        border-radius: 0
        margin-top: 0
        height: 113px
        width: 100%
    figure, img
        width: 100%
        height: 100%
        border-radius: 10px
        margin-bottom: 0 !important
        +m
            border-radius: 0
    img
        object-fit: scale-down

.info
    display: flex
    padding: 30px 42px 15px
    +m
        padding: 24px 20px

.form
    border-top: 3px solid #28293D
    padding: 22px 42px
    +m
        padding: 22px 10px

.toggle
    cursor: pointer
    padding: 15px 45px
    color: #01B4C3
    font-weight: 700
    font-size: 16px
    line-height: 26px
    text-align: right
    border-top: 3px solid #28293D
    svg
        margin-left: 10px

.summary
    .title
        font-weight: 600
        font-size: 24px
        line-height: 23px
        margin-bottom: 9px
        color: #34C9D3
    .subtitle
        font-weight: 400
        font-size: 24px
        line-height: 23px
        margin-bottom: 20px
        +m
            margin-bottom: 0

.rating
    margin-left: auto
    font-weight: 400
    font-size: 16px
    line-height: 26px
    .rate
        color: #00B7C4
        svg
            width: 12px
            height: 12px

.button
    display: block
    margin: 0 auto 15px auto
    width: 335px
    font-size: 16px
    font-weight: 600

.comments
    padding: 36px 42px
    +m
        padding:  20px
    .title
        font-weight: 600
        font-size: 16px
        line-height: 26px
        border-bottom: 2px solid #28293D
        padding-bottom: 12px

.comment
    display: flex
    padding: 18px 0 18px 0
    border-bottom: 2px solid #28293D
    figure
        width: 58px
        height: 58px
        margin-right: 14px
        img
            width: 100%
            height: 100%
            object-fit: scale-down
            object-position: center
            border-radius: 58px
    &>div
        width: 100%
        display: flex
        flex-direction: column
    .text
        font-weight: 400
        font-size: 16px
        line-height: 20px

    .user
        display: flex
        padding-bottom: 5px
        .name, .date
            font-weight: 600
            font-size: 16px
            line-height: 26px
        .date
            color: #00B7C4
            margin-left: auto
            +m
                display: none