@import ../../styles/helpers

.modal
    height: 100vh
    width: 100vw
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    border-radius: 8px
    display: flex
    justify-content: center
    align-items: center
    +medium
        width: 276px
        height: auto
        min-height: 540px
        max-height: 740px
        position: absolute
        top: 50%
        right: 50%
        bottom: auto
        margin-right: -50%
        transform: translate(-50%, -50%)

.overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.8)
    z-index: 12000

.filters
    position: absolute
    width: 100%
    height: 100%
    background: #28293D
    color: #EBEBF0
    border-radius: 10px
    padding-left: 24px
    padding-bottom: 10px
    padding-top: 24px
    top: 0
    right: 0
    overflow-y: scroll
    z-index: 100
    h5
        color: #FFF
        width: 100%
        padding: 0 20px 16px 0
        font-style: normal
        font-weight: 600
        font-size: 20px
        line-height: 16px
        display: block

    & [class='ant-select-selection-item-content']
        color: #FFF!important
    & [class='ant-select-selection-item-remove']
        margin-top: -5px

.filter
    border-top: 1px solid #1D1D29
    padding-top: 16px
    padding-bottom: 6px
    padding-right: 24px
    .title
        display: flex
        justify-content: space-between
        width: 100%
        align-items: center
        align-content: center
        margin-bottom: 10px
        font-weight: 600
        font-size: 16px
        line-height: 16px

.arrowIconActivate
    transition: all .4s
    transform: rotate(180deg)

.arrowIconDeactivate
    transition: all .4s
    transform: rotate(360deg)

.content
    max-height: 0
    transition: max-height .5s ease-in-out
    overflow: hidden
    &>div
        padding-top: 10px
        padding-bottom: 10px
        display: flex
        flex-direction: column
        label
            color: #FFF
    input[type=text],
    input[type=number]
        border-radius: 5px
        &::placeholder
            color: #484848
    input[type=number]:first-child
        margin-bottom: 15px!important

.show
    max-height: 200px
    transition: max-height .5s ease-in-out

.left_icon
    margin-right: 1rem
    +medium
        display: none

.button
    display: block
    width: 230px
    margin-left: 0
    margin-top: 20px
    font-size: 16px
    font-weight: 600