@import ../../styles/helpers

.wrapper
  position: relative
  box-shadow: 9.09091px 9.09091px 18.1818px rgba(0, 34, 91, 0.11)
  border-radius: 10.9091px
  width: 309px
  padding: 16px 20px
  margin-bottom: 16px
  img
    position: absolute
    height: 30px
    margin: 12px 21px
    top: 0
    right: 0

.title
  font-weight: 600
  font-size: 16px
  line-height: 26px
  margin-bottom: 5px
  b
    font-weight: 800

.amount
  font-weight: 700
  font-size: 28px
  line-height: 26px
  small
    font-weight: 600
    font-size: 16px
    line-height: 26px
    margin-left: 5px