@import ../../../styles/helpers

.wrapper
    background-color: #28293E
    padding-bottom: 30px

.backButton
    display: block
    position: absolute
    top: 4.5rem
    margin-left: 3rem

.container
    padding-top: 15px
    max-width: 487px
    margin: 0 auto
    display: flex
    +m
        padding-top: 0
        max-width: 100vw

.confirm
    width: 487px
    +m
        width: 100%
    h2
        margin-top: 2rem
        background: #00B7C4
        border-radius: 6px 6px 0 0
        font-weight: 600
        font-size: 24px
        line-height: 25px
        color: #FFFFFF
        padding: 20px 30px
        +m
            margin-top: 0
            border-radius: 0
    .block
        margin-top: 0
        padding-bottom: 0
        border-radius: 0 0 8px 8px
    .buttons
        padding: 21px 0
        border-top: 2px solid #26273A
        button:first-child
            margin-top: 10px
            margin-bottom: 10px
        .cancel
            background: transparent !important
    .section
        display: flex
        padding: 21px 0
        border-top: 2px solid #26273A
        div
            display: flex
            margin-right: 25px
            flex-direction: column
            font-weight: 400
            font-size: 16px
            line-height: 26px
        .date
            font-size: 18px
            line-height: 26px

.block
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    border-radius: 8px
    padding: 30px
    margin-top: 12px
    +m
        padding: 20px 20px 16px 20px
        box-shadow: none
        border-radius: 0
        margin-top: 6px

.icon
    background: linear-gradient(180deg, #018EFF 0%, #003189 100%)
    border-radius: 22px
    position: relative
    height: 103px
    width: 103px
    margin-bottom: 30px
    +m
        border-radius: 0
        margin-top: 0
        height: 103px
    figure, img
        width: 100%
        height: 100%
        border-radius: 22px
        margin-bottom: 0 !important
    img
        object-fit: scale-down

.image
    background: linear-gradient(180deg, #018EFF 0%, #003189 100%)
    border-radius: 10px
    position: relative
    margin-top: 2rem
    height: 170px
    width: 487px
    +m
        border-radius: 0
        margin-top: 0
        height: 115px
        width: 100vw
    figure, img
        width: 100%
        height: 100%
        border-radius: 10px
        margin-bottom: 0 !important
        +m
            border-radius: 0
    img
        object-fit: scale-down

.summary
    h4
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 23px
        color: #00B7C4
        margin-bottom: 20px
        padding-bottom: 20px
        border-bottom: 1px solid #28293D
        +m
            font-size: 20px
    .title
        font-weight: 600
        font-size: 24px
        line-height: 23px
        margin-bottom: 9px

    .subtitle
        font-weight: 400
        font-size: 24px
        line-height: 23px
        margin-bottom: 20px

    .buy
        font-size: 16px
        line-height: 25px
        margin-bottom: 15px
        b
            font-weight: 700
            font-size: 18px
            line-height: 25px

    .bid
        display: flex
        font-size: 16px
        line-height: 25px
        margin-bottom: 15px
        &>div
            flex-basis: 50%
        b
            display: block
            font-weight: 700
            font-size: 18px
            line-height: 25px

.sell, .ask
    padding-bottom: 30px
    .form
        margin-bottom: 20px
        border-bottom: 1px solid #28293D

.conversion
    color: #FFF
    font-weight: 400
    font-size: 18px
    line-height: 26px
    padding-bottom: 15px
    b
        font-weight: 700

.bid
    .form
        margin-bottom: 20px
        border-bottom: 1px solid #28293D
    h5
        font-weight: 600
        font-size: 16px
        line-height: 25px
        color: #FFF
        margin-bottom: 14px

.game
    padding-bottom: 0

.transfer
    padding-bottom: 0

.payment
    padding-bottom: 30px
    h4
        font-style: normal
        font-weight: 600
        font-size: 20px
        color: #FFF
        line-height: 23px
        padding-bottom: 12px

.duration
    padding-bottom: 10px
    h5
        color: #FFF
        font-weight: 600
        font-size: 16px
        line-height: 25px
        margin-bottom: 13px

.button
    font-size: 16px
    font-weight: 600
    background: transparent!important
    display: flex
    justify-content: right
    margin-top: 23px
    margin-left: 10px
    +m
        margin-left: 0
        background-color: #1D1D29!important
        padding: 15px
    &:hover
        background: transparent
    span
        display: block
        padding: 13px 10px 0 0
    div
        background: #00B7C4
        border-radius: 25px
        width: 50px
        height: 50px
        padding-top: 12px