@import ../../styles/helpers

.select >
    div
        padding: 6px 0
        border-radius: 12px
        background: $neutrals8
        box-shadow: inset 0 0 0 2px $neutrals6, 0 4px 12px rgba($neutrals2, .1)
        +dark
            background: #28293D
            color: #FFFFFF
            box-shadow: inset 0 0 0 2px $neutrals3, 0 4px 12px rgba($neutrals1, .1)
