@import ../../../styles/helpers

.wrapper
    background-color: #28293E
    padding-bottom: 30px

.backButton
    display: block
    position: absolute
    top: 4.5rem
    margin-left: 3rem

.container
    padding-top: 15px
    max-width: 1050px
    margin: 0 auto
    display: flex

.block
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    border-radius: 8px
    padding: 30px 30px 16px 30px
    margin-top: 20px
    +m
        padding: 16px
    h5
        font-weight: 600
        font-size: 16px
        line-height: 26px
        color: #FFF

.collapsed
    cursor: pointer
    display: flex
    padding: 16px 30px
    svg
        margin-top: 5px
        margin-left: auto

.image
    background: linear-gradient(180deg, #018EFF 0%, #003189 100%)
    border-radius: 10px
    position: relative
    margin-top: 2rem
    height: 447px
    width: 656px
    figure, img
        width: 100%
        height: 100%
        border-radius: 10px
        margin-bottom: 0 !important
        +m
            border-radius: 0
    img
        object-fit: scale-down
    &>div
        position: absolute
        display: flex
        justify-content: flex-end
        width: 120px
        bottom: 1rem
        right: 2rem
    +m
        position: absolute
        top: 0
        height: 220px
        width: 100%
        margin-top: -1px
        border-radius: 0

.name
    font-weight: 600
    font-size: 30px
    line-height: 23px
    color: #FEFEFE
    height: 100%
    margin-bottom: 0 !important
    border-bottom: 1px solid #28293D
    padding-top: 3px
    padding-bottom: 30px
    +m
        font-size: 24px
        line-height: 23px
        padding-bottom: 12px

.share
    position: absolute
    display: flex
    justify-content: flex-end
    width: 120px
    bottom: 1rem
    right: 2rem
    span
        padding: 8px
        width: 30px
        height: 30px
        background: #28293E
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
    span:hover
        background: #28293E
    span:first-child
        margin-right: 20px
    svg
        margin-left: 0 !important
        margin-right: 0 !important

.biography
    .description
        font-weight: 400
        font-size: 16px
        line-height: 24px
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid #28293D
        h5
            margin-bottom: 10px

.features
    display: grid
    padding-bottom: 20px
    margin-bottom: 20px
    gap: 10px
    grid-template-columns: 50% 50%
    border-bottom: 1px solid #28293D
    +m
        display: block
    .feature
        display: flex
        align-content: center
        align-items: center
        font-size: 16px
        line-height: 26px
        gap: 0 4px
        border-bottom: none !important
        p
            margin: 0
            padding: 0
        img
            margin-right: 5px

.center
    .biography
        +m
            display: none
.right
    padding-top: 10px
    margin-left: 20px
    min-width: 388px
    .biography
        display: none
        border-top: 1px solid #28293D
        padding-top: 10px
    +m
        margin-left: 0
        padding-top: 200px
        padding-left: 16px
        padding-right: 16px
        min-width: 100%
        .biography
            display: block

.info
    .items
        display: grid
        grid-template-columns: 50% 50%
        margin-top: 24px
        height: auto
        font-size: 16px
        line-height: 26px
        .item
            margin: 0 0 15px 0
            flex: 50%
            border-bottom: none !important
            span
                display: block
            a
                font-weight: 500!important
                color: #FFF
            b
                display: block
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

.descent
    display: flex
    width: 100%
    margin-top: 20px
    margin-bottom: 15px
    max-width: 585px
    overflow: auto
    &>div
        display: inline-block
        text-align: center
        margin-right: 35px
        min-width: 88px
        border-bottom: none !important
        img
            margin-bottom: 8px

.offer
    padding-top: 30px
    padding-bottom: 10px
    display: grid
    font-size: 16px
    grid-template-columns: 1fr 1fr
    grid-gap: 20px

.buy
    padding-bottom: 30px
    .price
        border-bottom: 1px solid #28293D
        padding-top: 16px
        padding-bottom: 22px
        margin-bottom: 24px
        font-weight: 400
        font-size: 16px
        line-height: 26px
        b
            font-weight: 600
            font-size: 20px
            line-height: 26px

.bid
    padding-bottom: 29px
    .prices
        display: flex
        border-bottom: 1px solid #28293D
        padding-top: 16px
        padding-bottom: 22px
        margin-bottom: 24px
        font-weight: 400
        font-size: 16px
        line-height: 26px
        &>div
            flex: 50%
        span
            display: block
        b
            display: block
            font-weight: 600
            line-height: 26px
    .countdown
        display: grid
        font-size: 16px
        grid-template-columns: 25% 25% 25% 25%
        border-bottom: 1px solid #28293D
        padding-top: 16px
        padding-bottom: 22px
        margin-bottom: 24px
        span, b
            display: block

.play
    padding-bottom: 29px
    .instructions
        display: flex
        border-bottom: 1px solid #28293D
        font-size: 16px
        line-height: 20px
        padding-top: 16px
        padding-bottom: 22px
        margin-bottom: 24px