@import ../styles/helpers

.header
  display: none
  width: 100vw
  height: 61px!important
  background: #4C0099
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0466202), 0px 2px 4px rgba(0, 0, 0, 0.14)
  align-items: center
  align-content: center
  padding-left: 62px
  position: sticky
  top: 0
  z-index: 100000

  a
    color: #FFF

  p
    margin: 0
    font-family: 'Proxima Nova', serif
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 18px
    color: #FFFFFF

  +medium
    display: flex
