@import ../../styles/helpers

.container
    background-color: #28293E

.main
    background: #28293D
    padding: 24px 61px

.header
    display: flex
    background-color: #1D1D29
    min-height: 128px
    align-items: center
    figure, img
        width: 32px
        height: 32px
        border-radius: 5px
        img
            vertical-align: baseline
            object-fit: cover
    .user
        padding-left: 21px
        font-weight: 300
        font-size: 24px
        line-height: 30px
        color: #FFF

.summary
    display: flex
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
    border-radius: 8px
    margin-bottom: 24px
    &>div
        display: flex
        flex-grow: 1
        padding: 20px
        border-right: 2px solid #28293D
        font-weight: 400
        font-size: 16px
        line-height: 26px
        b
            margin-left: auto
            font-size: 18px
            font-weight: 600

.buttons
    margin-left: 55px
    display: flex

.button
    display: flex
    width: 215px
    height: 56px
    background: #28293D!important
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
    padding: 16px 12px 16px 19px
    margin-right: 36px
    text-align: left
    border-radius: 8px
    font-weight: 600
    font-size: 16px
    line-height: 26px
    svg
        margin-top: 5px
        margin-left: auto
    &:hover
        opacity: 0.8

.users
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
    border-radius: 8px
    padding-bottom: 10px

    .role
        display: block
        background: rgba(0, 183, 196, 0.15)
        border-radius: 4px 0 0 4px
        width: 90px
        position: relative
        button:last-child
            color: #00B7C4
            min-height: 20px
            width: 20px
            background: rgba(0, 183, 196, 0.15)
            border-radius: 0 4px 4px 0
        button:first-child
            background-color: transparent
            color: #00B7C4
            padding: 5px 0 0 0
            min-height: 20px
            margin: 0
            font-weight: 600
            font-size: 12px
            line-height: 10px

    figure, img
        width: 20px
        height: 20px
        border-radius: 5px
        img
            object-fit: cover
    .status
        font-weight: 600
        font-size: 12px
        line-height: 12px
        border-radius: 4px
        padding: 5px 8px
    .more
        background-color: transparent!important
        button:first-child
            display: none
        button
            color: #00B7C4
            min-height: 20px
            width: 20px
            background: transparent
            border-radius: 0 4px 4px 0
    .active
        color: #3A9A37
        background: rgba(58, 154, 55, 0.15)
    .inactive
        color: #D32F27
        background: rgba(211, 47, 39, 0.15)

.filters
    padding: 24px 24px 0 24px
    border-bottom: 6px solid #28293D
    .filter
        margin-bottom: 0
    form
        width: 60%

.status_menu
    right: -25px
    background: #28293D !important
    border-radius: 5px
    padding: 0
    li
        border-radius: 2px
        padding-top: 10px
        padding-bottom: 8px
        background: #28293D !important
        font-weight: 600
        font-size: 12px
        color: #FFF
        line-height: 10px
        border-bottom: 1px solid rgba(40, 41, 61, 0.79)
    li:last-child
        border-bottom: 0
    li[class$='active']
        background: #1e1e2e !important

.role_menu
    right: -75px
    background: rgb(37, 52, 63) !important
    border-radius: 5px
    padding: 0
    li
        border-radius: 2px
        padding-top: 10px
        padding-bottom: 8px
        background: rgb(37, 52, 63) !important
        font-weight: 600
        font-size: 12px
        color: #FFF
        line-height: 10px
        border-bottom: 1px solid rgba(2, 138, 148, 0.2)
    li:last-child
        border-bottom: 0
    li[class$='active']
        background: rgb(2, 138, 148) !important