@import ../../styles/helpers

.container
  display: grid
  grid-template-columns: 1fr 1fr
  +m
    grid-template-columns: 1fr
  .wallet
    position: relative
    background: #28293D
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04)
    border-radius: 8px!important
    border: 1px solid #28293D
    font-weight: 400
    font-size: 18px
    line-height: 26px
    color: #FFF
    cursor: pointer
    padding: 16px 15px 16px 23px
    min-width: 205px
    height: 88px
    .balance
      display: block
      font-weight: 700
      font-size: 18px
      line-height: 26px
    img
      position: absolute
      top: 12px
      right: 12px
      width: 32px
      height: 32px
  .wallet:first-child
    margin-right: 16px
    +m
      margin-right: 0
      margin-bottom: 15px
  .active
    border: 1px solid #00B7C4
    color: #FFF
    background: #28293D