@import ../../styles/helpers

.wrapper
    background-color: #28293E
    padding-bottom: 30px

.backButton
    display: block
    position: absolute
    top: 4.5rem
    margin-left: 3rem
    +m
        display: none

.container
    padding-top: 15px
    max-width: 731px
    margin: 0 auto
    display: flex
    flex-direction: column


.user2
    display: flex
    border-bottom: 1px solid #28293D
    padding-bottom: 60px
    +m
        border-bottom: 0
    figure, img
        cursor: pointer
        width: 32px
        height: 32px
        border-radius: 5px
        margin-bottom: 0 !important
        img
            object-fit: cover
    span
        padding-left: 21px
        font-weight: 400
        font-size: 24px
        line-height: 30px

.header2
    display: none
    height: 70px
    background: #1D1D29
    padding: 20px
    position: sticky
    top: 0
    z-index: 10000
    svg
        margin-left: auto
        margin-top: 5px
    +m
        display: flex
        span
            font-weight: 600
            font-size: 18px
            line-height: 18px
            padding-top: 6px
            padding-left: 11px

.header3
    padding-top: 20px
    padding-bottom: 20px
    font-weight: 400
    font-size: 20px
    line-height: 26px

.options
    display: none
    background: #1D1D29
    button
        border: 0
    button, button:hover, button:focus
        background-color: transparent
        border-radius: 0
    +m
        display: flex
    .active
        border-bottom: 3px solid #01B7C3

.header
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    padding: 20px
    font-weight: 600
    font-size: 16px
    line-height: 26px
    border-radius: 6px
    margin-top: 30px
    margin-bottom: 10px
    svg
        display: none
    +m
        margin-top: 0
        border-radius: 0
        svg
            cursor: pointer
            display: inline
            margin-right: 10px

.block
    border-radius: 8px
    padding: 24px 30px 16px 30px
    +m
        border-radius: 0
        padding: 0
    h5
        font-weight: 600
        font-size: 20px
        line-height: 23px
        color: #FFF
        +m
            display: none
    h4
        font-weight: 600
        font-size: 16px
        line-height: 26px
        color: #FFF

.collapsed
    cursor: pointer
    display: flex
    padding: 16px 30px
    svg
        margin-top: 5px
        margin-left: auto

.image
    background: linear-gradient(180deg, #018EFF 0%, #003189 100%)
    border-radius: 10px 0 0 0
    position: relative
    width: 343px
    height: 224px
    +m
        border-radius: 10px 10px 0 0
    figure, img
        width: 100%
        height: 100%
        border-radius: 10px 0 0 0
        margin-bottom: 0 !important
        +m
            border-radius: 10px 10px 0 0
    img
        object-fit: cover
    &>div
        position: absolute
        display: flex
        justify-content: flex-end
        width: 120px
        bottom: 1rem
        right: 1rem

.avatar
    width: 66px
    height: 66px
    z-index: 101
    figure, img
        width: 100%
        height: 100%
        border-radius: 10px
        margin-bottom: 0 !important
        border: 1px solid #1D1D29
    img
        object-fit: cover

.title
    font-weight: 600
    font-size: 24px
    line-height: 23px
    color: #FEFEFE
    margin: 24px 0 0 24px
    border-right: 1px solid #28293D
    height: 110px
    +m
        height: auto
        margin: 16px 0 0 16px
        font-weight: 700
        font-size: 18px
        line-height: 16px
    .subtitle
        display: block
        padding-top: 5px
        font-weight: 400
        font-size: 18px
        line-height: 16px
        +m
            font-weight: 400
            font-size: 18px
            line-height: 16px
            border-bottom: 2px solid #28293D
            padding-bottom: 16px
            margin-bottom: 16px

.share
    position: absolute
    display: flex
    justify-content: flex-end
    width: 120px
    bottom: 1rem
    span
        padding: 8px
        width: 30px
        height: 30px
        background: #28293E
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
    span:hover
        background: #28293E
    span:first-child
        margin-right: 10px
    svg
        margin-left: 0 !important
        margin-right: 0 !important

.more
    background-color: transparent
    font-weight: 600
    font-size: 16px
    line-height: 26px
    float: right
    width: 100px
    color: #01B7C3
    margin-top: 20px
    text-decoration: underline
    svg
        margin-top: -3px
        margin-left: 9px
    &:hover
        background-color: transparent
    +m
        float: right
        margin-top: -80px

.item
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    display: flex
    margin-top: 20px
    border-radius: 6px
    padding-bottom: 20px
    +m
       margin-left: 16px
       margin-right: 16px
    .right
        min-width: 388px
        +m
            display: none
    .action
        display: none
        +m
            display: block

.creator
    position: relative
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    display: flex
    flex-direction: column
    margin-top: 12px
    border-radius: 6px
    +m
        margin-left: 16px
        margin-right: 16px
    .title
        width: 100%
        height: 48px
        margin: 0
        display: flex
        background: #4C0099
        font-weight: 700
        font-size: 18px
        line-height: 16px
        padding: 17px
        border-radius: 7px 7px 0 0
        .name
            margin-left: 29px
        .count
            margin-left: auto
            margin-right: 20px
            font-weight: 800
            font-size: 36px
            line-height: 4px
            margin-top: 7px
            +m
                margin-right: 0
    .subtitle
        cursor: pointer
        height: 44px
        border-bottom: 1px solid #28293D
        font-weight: 700
        font-size: 16px
        padding: 15px 12px
        line-height: 16px
        margin-bottom: 12px
        margin-left: 100px
        display: flex
        svg
            margin-left: auto
            margin-right: 30px
            +m
                margin-right: 10px
    .content
        margin-bottom: 10px
        margin-left: 112px
        font-weight: 400
        font-size: 16px
        line-height: 16px
        span
            display: block
            margin-bottom: 6px

    .loading
        position: absolute
        background: rgba(0, 0, 0, 0.5)
        backdrop-filter: blur(5px)
        border-radius: 0 0 8px 8px
        width: 100%
        height: 132px
        bottom: 0
        z-index: 100
        &>div
            margin: 60px auto 0 auto

.user
    position: relative
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    display: flex
    align-items: center
    margin-top: 12px
    border-radius: 6px
    padding: 24px
    +m
        display: block
        margin-left: 16px
        margin-right: 16px
    .index
        position: absolute
        top: 66px
        left: 5px
        z-index: 1002
        font-weight: 800
        font-size: 64px
        line-height: 4px
    .name
        flex: 1
        font-weight: 400
        font-size: 18px
        line-height: 16px
        padding: 10px 24px
        border-right: 1px solid #28293D
        height: 40px
        +m
            position: absolute
            left: 75px
            top: 20px
            width: 100%
            text-align: left
            border-right: 0
    .count
        min-width: 250px
        text-align: center
        font-weight: 700
        font-size: 16px
        line-height: 16px
        padding: 10px 24px
        border-right: 1px solid #28293D
        height: 40px
        +m
            position: absolute
            left: 100px
            top: 60px
            border-right: 0
            width: 100%
            border-top: 1px solid #28293D
            text-align: left
            padding-left: 0
    .more
        flex: 1
        width: 150px
        margin-top: 0
        text-decoration: none
        text-align: right
        +m
            position: absolute
            bottom: 10px
            right: 0
            span
                display: none

.movements
    background: #1D1D29
    box-shadow: 0 0 1px rgba(40, 41, 61, 0.04), 0 2px 4px rgba(96, 97, 112, 0.16)
    padding: 10px 32px
    border-radius: 6px
    h4
        font-weight: 600
        font-size: 16px
        line-height: 26px
        color: #FFF
        padding-top: 15px
